@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


@font-face {
    font-family: 'Basier-Circle';
    src: url(../src/components/font/font/BasierCircle-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Basier-Circle';
    src: url(../src/components/font/font/BasierCircle-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Basier-Circle';
    src: url(../src/components/font/font/BasierCircle-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Basier-Square';
    src: url(../src/components/font/font/BasierSquare-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Basier-Circle';
    src: url(../src/components/font/font/BasierCircle-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Basier-Square';
    src: url(../src/components/font/font/BasierSquare-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Basier-Circle';
    src: url(../src/components/font/font/BasierCircle-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Basier-Circle';
    src: url(../src/components/font/font/BasierCircle-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Basier-Circle';
    src: url(../src/components/font/font/BasierCircle-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basier-Circle';
    src: url(../src/components/font/font/BasierCircle-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Basier-Square';
    src: url(../src/components/font/font/BasierSquare-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Basier-Square';
    src: url(../src/components/font/font/BasierSquare-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Basier-Square';
    src: url(../src/components/font/font/BasierSquare-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Basier-Square';
    src: url(../src/components/font/font/BasierSquare-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Basier-Square';
    src: url(../src/components/font/font/BasierSquare-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basier-Square';
    src: url(../src/components/font/font/BasierSquare-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}



@tailwind base;
@tailwind components;
@tailwind utilities;



.no-scrollbar::-webkit-scrollbar{
    display:none
}

.no-scrollbar{
    -ms-overflow-style:none;
    scrollbar-width: none;
}